.container{
    width:20%;
    background-color: lightgray;
    margin: auto;
    margin-top: 10%;
    box-sizing: border-box;
    padding-bottom: 10px;
}
.button-1{
    padding: 10px;
    font-size: 20px;
}

.button-2{
    background-color: #4CAF50;
    border:none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    border-radius: 8px;

}
.button-2:hover {background-color: #3e8e41}

.button-2:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}